<a href="https://colab.research.google.com/github/ShubhGupta2004/solver.io1.1/blob/main/carbon_Tracker_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [24]:
data = pd.read_csv('csv_CarbonB.csv')
print(data)

     Air Conditioner Usage (in hours)  Water Heater Usage (in minutes)  \
0                                   4                                2
1                                   2                                7
2                                   5                                4
3                                   3                                3
4                                   6                                5
..                                ...                              ...
195                                 2                                5
196                                 3                                6
197                                 4                                8
198                                 1                                3
199                                 2                                5

     Washing Machine Usage (in hours)  Incandescent Bulbs Usage (in hours)  \
0                                1.00                                    6
1                                1.50                                    3
2                                2.00                                    2
3                                1.25                                    4
4                                0.75                                    1
..                                ...                                  ...
195                              1.25                                    4
196                              1.75                                    4
197                              2.25                                    5
198                              0.75                                    2
199                              1.25                                    4

     Compact Fluorescent Bulbs Usage (in hours)  LED Bulbs Usage (in hours)  \
0                                             4                           2
1                                             2                           1
2                                             1                           4
3                                             3                           2
4                                             2                           1
..                                          ...                         ...
195                                           2                           4
196                                           3                           2
197                                           1                           3
198                                           3                           1
199                                           2                           4

     1 Star  2 Stars  3 Stars  4 Stars  ...  Water Usage (in litres)  \
0         1        0        0        0  ...                     15.6
1         0        1        0        0  ...                     10.2
2         0        0        1        0  ...                     13.1
3         0        0        0        1  ...                     12.5
4         0        0        0        0  ...                     14.8
..      ...      ...      ...      ...  ...                      ...
195       0        0        0        0  ...                      8.0
196       0        0        1        0  ...                      9.6
197       0        1        0        0  ...                     11.2
198       1        0        0        0  ...                      5.8
199       0        0        0        0  ...                      7.4

     Bike Distance (in km)  Car Distance (in km)  Bicycle Distance (in km)  \
0                     12.8                  25.4                      12.8
1                      8.5                  16.2                      11.8
2                     14.3                   9.5                      15.2
3                      9.8                  21.7                       8.5
4                     11.2                  12.5                      10.9
..                     ...                   ...                       ...
195                    5.6                   8.2                       7.6
196                    6.4                  11.6                       8.8
197                    7.6                  13.2                      10.1
198                    4.6                   7.7                       6.6
199                    5.4                   8.0                       7.3

      BMI  BMR (kJ per day)  Age (years)  Sex  Exercise Time (in minutes)  \
0    28.4              7100           18  0.8                          30
1    24.6              6400           35  0.3                          45
2    27.3              7200           22  0.8                          35
3    26.1              6200           28  0.3                          25
4    29.7              6900           19  0.8                          40
..    ...               ...          ...  ...                         ...
195  20.0              4900           28  0.8                          30
196  21.4              5300           30  0.3                          35
197  22.9              5700           31  0.8                          40
198  18.8              4600           25  0.3                          20
199  19.6              4800           27  0.8                          30

     Carbon Emission (metric tons)
0                           15.827
1                           12.239
2                           17.532
3                           14.125
4                           16.723
..                             ...
195                         12.214
196                         12.719
197                         14.006
198                         10.942
199                         11.988

[200 rows x 22 columns]

In [25]:
X = data.drop('Carbon Emission (metric tons)', axis=1)
y = data['Carbon Emission (metric tons)']
print("X : \n")
print(X)
print("\n")
print("y : \n")
print(y)

X :

     Air Conditioner Usage (in hours)  Water Heater Usage (in minutes)  \
0                                   4                                2
1                                   2                                7
2                                   5                                4
3                                   3                                3
4                                   6                                5
..                                ...                              ...
195                                 2                                5
196                                 3                                6
197                                 4                                8
198                                 1                                3
199                                 2                                5

     Washing Machine Usage (in hours)  Incandescent Bulbs Usage (in hours)  \
0                                1.00                                    6
1                                1.50                                    3
2                                2.00                                    2
3                                1.25                                    4
4                                0.75                                    1
..                                ...                                  ...
195                              1.25                                    4
196                              1.75                                    4
197                              2.25                                    5
198                              0.75                                    2
199                              1.25                                    4

     Compact Fluorescent Bulbs Usage (in hours)  LED Bulbs Usage (in hours)  \
0                                             4                           2
1                                             2                           1
2                                             1                           4
3                                             3                           2
4                                             2                           1
..                                          ...                         ...
195                                           2                           4
196                                           3                           2
197                                           1                           3
198                                           3                           1
199                                           2                           4

     1 Star  2 Stars  3 Stars  4 Stars  ...  Oven Usage (in hours)  \
0         1        0        0        0  ...                    3.1
1         0        1        0        0  ...                    2.5
2         0        0        1        0  ...                    2.2
3         0        0        0        1  ...                    1.8
4         0        0        0        0  ...                    2.6
..      ...      ...      ...      ...  ...                    ...
195       0        0        0        0  ...                    0.4
196       0        0        1        0  ...                    0.8
197       0        1        0        0  ...                    1.2
198       1        0        0        0  ...                    0.0
199       0        0        0        0  ...                    0.3

     Water Usage (in litres)  Bike Distance (in km)  Car Distance (in km)  \
0                       15.6                   12.8                  25.4
1                       10.2                    8.5                  16.2
2                       13.1                   14.3                   9.5
3                       12.5                    9.8                  21.7
4                       14.8                   11.2                  12.5
..                       ...                    ...                   ...
195                      8.0                    5.6                   8.2
196                      9.6                    6.4                  11.6
197                     11.2                    7.6                  13.2
198                      5.8                    4.6                   7.7
199                      7.4                    5.4                   8.0

     Bicycle Distance (in km)   BMI  BMR (kJ per day)  Age (years)  Sex  \
0                        12.8  28.4              7100           18  0.8
1                        11.8  24.6              6400           35  0.3
2                        15.2  27.3              7200           22  0.8
3                         8.5  26.1              6200           28  0.3
4                        10.9  29.7              6900           19  0.8
..                        ...   ...               ...          ...  ...
195                       7.6  20.0              4900           28  0.8
196                       8.8  21.4              5300           30  0.3
197                      10.1  22.9              5700           31  0.8
198                       6.6  18.8              4600           25  0.3
199                       7.3  19.6              4800           27  0.8

     Exercise Time (in minutes)
0                            30
1                            45
2                            35
3                            25
4                            40
..                          ...
195                          30
196                          35
197                          40
198                          20
199                          30

[200 rows x 21 columns]


y :

0      15.827
1      12.239
2      17.532
3      14.125
4      16.723
        ...
195    12.214
196    12.719
197    14.006
198    10.942
199    11.988
Name: Carbon Emission (metric tons), Length: 200, dtype: float64

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [27]:
y_train

4      16.723
59     16.432
38     16.587
183    12.897
85     16.482
        ...
0      15.827
7      15.275
117    16.343
94     15.349
185    14.796
Name: Carbon Emission (metric tons), Length: 128, dtype: float64

In [28]:
# Model Creation
model = LinearRegression()
model.fit(X_train, y_train)
y_val_pred = model.predict(X_val)
y_val_pred

array([16.14597085, 16.92685618, 15.39526165, 11.12148143, 15.9769292 ,
       15.60147386, 12.09188654, 17.64531539, 13.9132909 , 16.68055262,
       15.70618531, 14.87453015, 15.42698026, 16.40350398, 15.9121639 ,
       16.03302573, 12.92954692, 15.75519407, 15.08546357, 16.67336433,
       15.55321605, 14.32620916, 15.59843918, 15.67967596, 15.46035493,
       11.90250126, 16.70822078, 14.33622341, 16.07505691, 15.69166751,
       16.990503  , 14.0948231 ])

In [29]:
mse_val = mean_squared_error(y_val, y_val_pred)
print('Validation Mean Squared Error:', mse_val)

# Make predictions on the test data
y_test_pred = model.predict(X_test)

# Evaluate the model using mean squared error (MSE) on the test set
mse_test = mean_squared_error(y_test, y_test_pred)
print('Test Mean Squared Error:', mse_test)

Validation Mean Squared Error: 0.3384661743611438
Test Mean Squared Error: 0.2558785800213269

In [30]:
# Calculate R-squared score for the validation set
r2_val = r2_score(y_val, y_val_pred)
print("Validation R-squared Score:", r2_val*100)

# Calculate R-squared score for the test set
r2_test = r2_score(y_test, y_test_pred)
print("Test R-squared Score:", r2_test*100)

Validation R-squared Score: 86.21266556953968
Test R-squared Score: 86.15679988019696