<a href="https://colab.research.google.com/github/ShubhGupta2004/GreenTracker/blob/main/carbonTracker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# Load the dataset
data = pd.read_csv("csv_Carbon.csv")
print(data)

     Person  Fan Usage (hours)  TV Usage (hours)  Fridge Usage (hours)  \
0         1                5.5               2.3                   3.1
1         2                3.8               1.5                   2.8
2         3                4.2               1.8                   2.5
3         4                2.9               1.2                   3.5
4         5                6.1               2.5                   2.1
..      ...                ...               ...                   ...
338     339                3.0               3.0                   1.0
339     340                4.0               1.0                   3.0
340     341                2.0               4.0                   4.0
341     342                3.0               2.0                   2.0
342     343                1.0               5.0                   3.0

     Water Usage (litres)  Bike Distance (km)  Car Distance (km)  \
0                    15.6                10.2               25.4
1                    12.2                 8.4               15.7
2                    13.8                 7.9               18.2
3                    14.5                 6.5               12.8
4                    16.3                11.8               27.9
..                    ...                 ...                ...
338                  10.0                 0.0                0.0
339                   8.0                 0.0                0.0
340                  12.0                 0.0                0.0
341                  10.0                 0.0                0.0
342                   5.0                 0.0                0.0

     Bicycle Distance (km)  Meat Calorie Intake  Grain Calorie Intake  \
0                     12.8                 1200                  1500
1                      9.1                  800                  1100
2                      8.5                  950                  1300
3                      7.6                  750                   900
4                     13.4                 1400                  1700
..                     ...                  ...                   ...
338                    0.0                 2000                  1200
339                    0.0                 2100                  1100
340                    0.0                 1900                  1500
341                    0.0                 2200                  1400
342                    0.0                 1800                  1600

     Dairy Calorie Intake  Fruit Calorie Intake  CO2 Emitted (metric tons)
0                     900                   800                    15.8270
1                     700                   600                    10.9210
2                     850                   700                    11.6980
3                     650                   500                     9.7630
4                    1000                   950                    17.6120
..                    ...                   ...                        ...
338                   400                   200                     2.6492
339                   600                   400                     3.1228
340                   700                   300                     3.3601
341                   800                   200                     3.2673
342                   400                   400                     3.1422

[343 rows x 13 columns]

In [ ]:
# Split the dataset into input features (X) and target variable (y)
X = data.drop("CO2 Emitted (metric tons)", axis=1)
print("X : \n")
print(X)
print("\n")
y = data["CO2 Emitted (metric tons)"]
print("y : \n")
print(y)

X :

     Person  Fan Usage (hours)  TV Usage (hours)  Fridge Usage (hours)  \
0         1                5.5               2.3                   3.1
1         2                3.8               1.5                   2.8
2         3                4.2               1.8                   2.5
3         4                2.9               1.2                   3.5
4         5                6.1               2.5                   2.1
..      ...                ...               ...                   ...
338     339                3.0               3.0                   1.0
339     340                4.0               1.0                   3.0
340     341                2.0               4.0                   4.0
341     342                3.0               2.0                   2.0
342     343                1.0               5.0                   3.0

     Water Usage (litres)  Bike Distance (km)  Car Distance (km)  \
0                    15.6                10.2               25.4
1                    12.2                 8.4               15.7
2                    13.8                 7.9               18.2
3                    14.5                 6.5               12.8
4                    16.3                11.8               27.9
..                    ...                 ...                ...
338                  10.0                 0.0                0.0
339                   8.0                 0.0                0.0
340                  12.0                 0.0                0.0
341                  10.0                 0.0                0.0
342                   5.0                 0.0                0.0

     Bicycle Distance (km)  Meat Calorie Intake  Grain Calorie Intake  \
0                     12.8                 1200                  1500
1                      9.1                  800                  1100
2                      8.5                  950                  1300
3                      7.6                  750                   900
4                     13.4                 1400                  1700
..                     ...                  ...                   ...
338                    0.0                 2000                  1200
339                    0.0                 2100                  1100
340                    0.0                 1900                  1500
341                    0.0                 2200                  1400
342                    0.0                 1800                  1600

     Dairy Calorie Intake  Fruit Calorie Intake
0                     900                   800
1                     700                   600
2                     850                   700
3                     650                   500
4                    1000                   950
..                    ...                   ...
338                   400                   200
339                   600                   400
340                   700                   300
341                   800                   200
342                   400                   400

[343 rows x 12 columns]


y :

0      15.8270
1      10.9210
2      11.6980
3       9.7630
4      17.6120
        ...
338     2.6492
339     3.1228
340     3.3601
341     3.2673
342     3.1422
Name: CO2 Emitted (metric tons), Length: 343, dtype: float64

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Create a linear regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

[ 7.98849368 13.29722264 12.97705003 12.64988053 12.35338289  3.26889426
  5.48386862  4.46462097  5.15165116 12.8778927  10.30158559  7.94677021
 11.52945233  2.02279098 12.96165395 17.67356262 16.34023093 10.19620557
 10.24228578  8.68592891  7.2765377  10.78539193 13.60607186 12.32112674
 16.4646475  12.23734049 16.69367933  5.37376851 11.73271818  7.67347574
  5.14436919 17.21339297  9.86809853  3.24981594 13.15780785 12.99215265
  6.71962011  5.14220805 10.02570878 11.09442177 12.82155555  9.17170195
  0.60565043  1.45023164  9.94215993  4.21210342 13.43548343  2.45635471
 10.89075237 17.27301401  1.62972533  6.26363941  8.10481862 11.10292163
 13.03430696  4.70467616 12.04749675  5.95234582 11.34974563 12.97005313
  9.00449741  9.49387316 12.71999662  6.407095    5.62063763 11.79997233
 12.16197867 15.70425013 11.92029584]

In [ ]:
# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print("R-squared Score:", r2*100)

Mean Squared Error: 0.825369496875169
R-squared Score: 95.44401846940134